<div id="filter">
  <ul>
    <li>
      <button (click)="cat($event)" type="button" class="btn-map bit-drink bit-beer"></button>
      <ul>
        <li><button type="button" class="btn-map bit-drink-analcolic"></button></li>
        <li><button type="button" class="btn-map bit-drink-cafe"></button></li>
        <li><button type="button" class="btn-map bit-tea"></button></li>
        <li><button type="button" class="btn-map bit-beer"></button></li>
        <li><button type="button" class="btn-map bit-drink-vine"></button></li>
        <li><button type="button" class="btn-map bit-american-cafe"></button></li>
      </ul>
    </li>
    <li>
      <button (click)="cat($event)" type="button" class="btn-map bit-food"></button>
      <ul>
        <li><button type="button" class="btn-map bit-drink-analcolic"></button></li>
        <li><button type="button" class="btn-map bit-drink-cafe"></button></li>
        <li><button type="button" class="btn-map bit-tea"></button></li>
        <li><button type="button" class="btn-map bit-beer"></button></li>
        <li><button type="button" class="btn-map bit-drink-vine"></button></li>
        <li><button type="button" class="btn-map bit-american-cafe"></button></li>
      </ul>
    </li>
    <li>
      <button (click)="cat($event)" type="button" class="btn-map bit-euro"></button>
      <ul>
        <li><button type="button" class="btn-map bit-drink-analcolic"></button></li>
        <li><button type="button" class="btn-map bit-drink-cafe"></button></li>
        <li><button type="button" class="btn-map bit-tea"></button></li>
        <li><button type="button" class="btn-map bit-beer"></button></li>
        <li><button type="button" class="btn-map bit-drink-vine"></button></li>
        <li><button type="button" class="btn-map bit-american-cafe"></button></li>
      </ul>
    </li>
  </ul>


</div>
