
.bit-drink-analcolic:before { content: '\e802'; } /* '' */
.bit-tea:before { content: '\e804'; } /* '' */
.bit-beer:before { content: '\e805'; } /* '' */
.bit-drink-vine:before { content: '\e806'; } /* '' */
.bit-drink-cafe:before { content: '\e807'; } /* '' */
.bit-006-cocktail-glass-with-liquor:before { content: '\e808'; } /* '' */
.bit-chef:before { content: '\e80a'; } /* '' */
.bit-food:before { content: '\e80b'; } /* '' */
.bit-pub:before { content: '\e80e'; } /* '' */
.bit-bar:before { content: '\e810'; } /* '' */
.bit-cafe-bar:before { content: '\e811'; } /* '' */
.bit-american-cafe:before { content: '\e818'; } /* '' */
.bit-fastfood:before { content: '\e819'; } /* '' */
.bit-ice-cream:before { content: '\e81a'; } /* '' */
.bit-euro:before { content: '\f153'; } /* '' */